__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.venv/
venv/
ENV/
env/

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

*.pkl
*.joblib
*.csv
!data/sample_*.csv

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

.env
tc_venv/
catboost_info/
**/catboost_info/

